.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  border: 2px solid transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease;
}

.red-border {
  border-color: red;
}

.green-border {
  border-color: green;
}

.blue-border {
  border-color: blue;
}

.back-home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  transition: background-color 0.3s;
}

.back-home-button:hover {
  background-color: #45a049;
}
