body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: left;
}

.add-project-card {
  border: 2px dashed #007acc;
}

.add-project-card h2 {
  color: #007acc;
}

input,
textarea,
button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005f99;
}

.remove-button {
  background-color: #ff4c4c;
}

.remove-button:hover {
  background-color: #cc0000;
}

.back-home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  transition: background-color 0.3s;
}

.back-home-button:hover {
  background-color: #45a049;
}
