.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #005f99;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f0f8ff; /* Azul claro */
  border: 1px solid #d0e7ff; /* Azul pastel */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.add-user-card {
  text-align: center;
}

.add-user-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-user-card button {
  background-color: #005f99;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-user-card button:hover {
  background-color: #007acc;
}

.user-card h3 {
  font-size: 1.2rem;
  color: #005f99;
}

.user-card p {
  font-size: 1rem;
  color: #333333;
}
.remove-button {
  background-color: #ff4d4d; /* Vermelho claro */
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.remove-button:hover {
  background-color: #ff1a1a; /* Vermelho mais intenso */
}

.back-home-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  transition: background-color 0.3s;
}

.back-home-button:hover {
  background-color: #45a049;
}
