<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cards.css') }}">
</head>
<div class="container">
    <h1>Gerenciar Usuários</h1>
    <div class="card-grid">
        <!-- Card para Adicionar Novo Usuário -->
        <div class="card add-user-card">
            <h2>Adicionar Usuário</h2>
            <form method="POST" action="/add_user">
                <input type="text" name="email" placeholder="E-mail" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Adicionar</button>
            </form>
        </div>

        <!-- Exibir Usuários Existentes -->
        {% for user in users %}
        <div class="card user-card">
            <h3>{{ user.email }}</h3>
            <p>Senha: {{ user.password }}</p>
            <form method="POST" action="/remove_user">
                <input type="hidden" name="email" value="{{ user.email }}">
                <button type="submit" class="remove-button">Remover</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>