<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
</head>

<body>
    <div class="container">
        <h1>Projetos</h1>
        <div class="card-grid">
            {% for project in projects %}
            <div
                class="card project-card {% if project.end_date < today %}red-border{% elif project.start_date <= today %}green-border{% else %}blue-border{% endif %}">
                <h2>{{ project.name }}</h2>
                <p>Data de Início: {{ project.start_date }}</p>
                <p>Data de Fim: {{ project.end_date }}</p>
                <a href="/project/{{ loop.index0 }}">Ver Detalhes</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>